/* Welcome */
#welcom_body {
  background-color: #fff;
  color: #636b6f;
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  height: 100vh;
  margin: 0;
}

.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.content {
  text-align: center;
}


.links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.m-b-md {
  margin-bottom: 30px;
}

/* posts.index */
.cp_qa *, .cp_qa *:before, .cp_qa *:after {
	font-family: 'FontAwesome', sans-serif;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.cp_qa {
	margin: 0 auto;
	background: #ffffff;
}
.conttabs {
	display: none;
}
/* カテゴリー */
.cp_qa #cp_content {
	padding: 20px 0 0;
	border-top: 1px solid #dddddd;
}
.cp_qa .cp_tabitem {
	display: inline-block;
	margin: 0 0 -1px;
	padding: 15px 25px;
	text-align: center;
	color: #bbbbbb;
	border: 1px solid transparent;
}
.cp_qa .cp_tabitem:before {
	margin-right: 10px;
}
.cp_qa .cp_tabitem:hover {
	cursor: pointer;
	color: #888888;
}
.cp_qa input:checked + a {
	color: #555555;
	border: 1px solid #dddddd;
	border-bottom: 1px solid #ffffff;
}
/* --ブロックのバーの色 */
.cp_qa input:checked + a[for*='1'] {
	border-top: 5px solid #00BCD4;
}
.cp_qa input:checked + a[for*='2'] {
	border-top: 5px solid #FF5722;
}
.cp_qa input:checked + a[for*='3'] {
	border-top: 5px solid #03A9F4;
}
.cp_qa input:checked + a[for*='4'] {
	border-top: 5px solid #2db62d;
}
.cp_qa input:checked + a[for*='5'] {
	border-top: 5px solid #000000;
}
@media screen and (max-width: 650px) {
	.cp_qa a.cp_tabitem {
		font-size: 0;
	}
	a:before {
		font-size: 18px;
		margin: 0;
	}
}
@media screen and (max-width: 400px) {
	.cp_qa a.cp_tabitem {
		padding: 15px;
	}
	.cp_qa a.cp_tabitem:before {
		margin-right: 0px;
	}
}
.cp_qa .cp_qain {
	overflow-x: hidden;
	margin: 0 auto;
	color: #333333;
}
.cp_qa .cp_qain .cp_actab {
	padding: 20px 0;
	border-bottom: 1px dotted #cccccc;
}

/* posts.index questionList */
.questionList-right p {
  text-align: center;
}

.ans-count-num {
  font-size: 30px;
  font-weight: bold;
}

.title-layouts {
  text-align: left;
}

.is_solved-lavel {
  font-size: medium; 
}

/* posts.details */
.details-text {
  line-height: 30px;
}

@media only screen and (min-width: 771px) { /* PCサイズでの指定 */

}

/* Extra small devices: Phones (<576px) */
@media (max-width: 575px) {
  .pc {
    display: none;
  }

  .container {
    max-width: 540px;
  }

  .is_solved-lavel {
    font-size: x-small; 
  }

  .ans-count-num {
    font-size: 20px;
    font-weight: bold;
  }
}
 
/* Small devices: Phablet (≥576px) */
@media (min-width: 576px) and (max-width: 767px) {
  .pc {
    display: none;
  }

  .container {
    max-width: 540px;
  }
}
 
/* Medium devices: Tablets (≥768px) */
@media (min-width: 768px) and (max-width: 991px) {
  .sp {
    display: none;
  }

  .container {
    max-width: 720px;
  }
}
 
/* Large devices: laptop (≥992px) */
@media (min-width: 992px) and (max-width: 1199px) {
  .sp {
    display: none;
  }

  .container {
    max-width: 960px;
  }
}
 
/* Extra Large devices: Desktops (≥1200px) */
@media (min-width: 1200px) {
  .sp {
    display: none;
  }

  .container {
    max-width: 1140px;
  }
}



